{% extends '@Client/base_client.html.twig' %}
{% block main %}
    <h1>Technologie creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('technologie_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
