{% extends '@Freelancer/base_freelancer.html.twig' %}
{% block main %}

    <h1>Hello freelancer</h1>

    <h2>home_freelancer.html.twig __________________________ /home_freelancer.html.twig <br>
        Cette page va contenir les container qui vont changer selon le choix du menu. on va avoir plusieurs page
        qui ont la meme struct que cella la</h2>
{% endblock %}