{% extends '@Client/base_client.html.twig' %}
{% block main %}
    <h2>---Home Client kharbech abir </h2>
    <label class="switch">
        <input type="checkbox">
        <span class="slider"></span>
    </label>
{% endblock %}

